*, *::after, *::before {
    box-sizing: border-box;
}

#background-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* move the background behind the content */
    background-color: rgba(68, 68, 68, 0.8);
    /* filter: blur(18px);
    backdrop-filter: blur(18px); */
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    border-top: 1px solid white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.user-info{
    color: white;
    font-size: 14px;
    border-left: 1px solid white;
    padding: 4px;
}

#arrow-submit{
    float: right;
}

.field > input{
    width: 100%;
}

