
.mural{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.mural-option{
    border-left: 1px solid white;
    height: 100%;
    padding: 10px;
}

.mural-title{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mural-item{
    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    max-width: 85%;
    width: 255px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid rgb(107, 107, 107);
    cursor: pointer;
    height: 185px;
}

.mural-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
    height: calc(100vh + 300px);
}

.mural-item-title{
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid white;
}

.mural-item-preview{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mural-item-time{
    text-align: right;
}

.over-content{
    background-color: rgb(48, 48, 48);
}

.delete-button{
    background-color: red;
    border-color: white;
    float: right;
}

.delete-button:hover{
    background-color: rgb(255, 49, 49) !important;
    border-color: red !important;
}

.time{
    font-size: 10px;
}

.task-total{
    font-size: 13px;

}

.completed{
    color: green;
}

.uncompleted{
    color: yellow;
}
