.task-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid white;
}

.task-nav-title{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3em;
}

.task-nav-return > button {
    background-color: white !important;
    color: black;
    border-color: white;
}

.task-container{
    display: grid;
    grid-template-columns: 30% 70%; /* Define two columns with specified widths */
    gap: 10px; /* Optional: space between columns */
    padding: 5px; /* Optional: padding around the grid */
    height: 90vh;
    overflow: hidden;
}

.task-container > div {
    padding: 16px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

.task-container > div:first-child{
    border-right: 1px solid white;
}

.task-stuff{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.task-item-new{
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.task-item-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task-item-check > label{
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.task-item-check > span > input{
    cursor: pointer;
}

.task-item-check > label:hover{
    background-color: rgb(46, 46, 46);
}

.task-item-check-active{
    /* background-color: rgb(46, 46, 46); */
    border: 0.03em solid #ff0063;
    box-shadow: 0 4px 8px rgba(255, 0, 99, 0.7);
}

.uncon{
    color: yellow;
}

.comp{
    color: green;
}

.task-list{
    margin-top: 1rem;
}

@media (max-width: 885px) {
    .task-container {
        grid-template-rows: 200px 1fr; /* Stack columns on smaller screens */
        grid-template-columns: 1fr;
        overflow-y: hidden;
    }
    .task-nav-title > span {
        margin-right: 3.4rem;
    }
    .editor{
        margin-right: 0px !important;
    }
    #markdown-load-toolbox {
        left: 18% !important;
    }
}

@media (max-width: 1200px) {
    #markdown-load-toolbox {
        left: 41% !important;
    }

}

@media (max-width: 1000px) {
    #markdown-load-toolbox {
        left: 36% !important;
    }

}

@media (max-width: 920px) {
    #markdown-load-toolbox {
        left: 34% !important;
    }
}